.article {
  background: white;
  border-radius: 8px;
  cursor: pointer;
  padding: 2px 28px 14px;

  &__title {
    h2 {
      margin: 0;
      line-height: 1.3em;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
    }
  }
}
